<ng-container *ngIf="{ user: user$ | async, loading: loading$ | async, error: error$ | async } as state">
  <!-- Loading State -->
  <div *ngIf="state.loading">
    <mat-spinner class="w-40 mx-auto mb-3"></mat-spinner>
  </div>

  <!-- Error State -->
  <div *ngIf="state.error">
    <h4>{{ state.error }}</h4>
  </div>

  <!-- User Data State -->
  <div *ngIf="state.user">
    <div class="w-52 mx-auto">
      <mat-card>
        <mat-card-header class="mx-auto mb-5">
          <img style="border-radius: 50%" mat-card-lg-image [src]="state.user.avatar" />
        </mat-card-header>
        <mat-card-title-group class="mx-5 mb-5">
          <mat-card-title>
            {{ state.user.first_name }} {{ state.user.last_name }}
          </mat-card-title>
          <mat-card-subtitle>ID: {{ state.user.id }}</mat-card-subtitle>
          <mat-card-subtitle>
            <a href="mailto:{{ state.user.email }}">{{ state.user.email }}</a>
          </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-actions class="mx-auto mb-5">
          <button mat-raised-button color="primary" routerLink="..">
            Back to users list
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-container>
